API_ID=28394860
API_HASH=07b4fad3981e64c0554add6f249f7c07
BOT_TOKEN=7261208882:AAFVXE5Rih3RwTkcNHK1yzidJhadacBwjjU
LOGGER_ID=-1002246269016
MONGO_DB_URI=mongodb+srv://combinado:combinado@cluster0.2a7qm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=672466909
STRING_SESSION=AQGxRWwAxfyiJ0Mi_fa6906HD9uxQ1w8009RhY0eLCX2XWsvnrYok8lBy-yrZyixv02ysO8XbJ_sB7ChVqk1G_zREOuzvy0E_-hnlMb3oetsy4iuSdEtz4YLVxFmjJL5F9PQNZJHYPZEKix0azJI-jGaW3amodY-bmR1aGazdnf8izuiR-zw3tB5iFeTf-Pei699UwloViEr1eoxbJZPHaJIPzEDYFS-kPelSf0ARizq1JjDvOVHEfoMO403QA8d7EOU4Vdb5dAjsI_RGN99zy9ujXqmmE5zY60-q23YQi9iPvRst0nOWRgOoQiXXyo1T467nUa0efWu3hdS9K4Yfq1HQ74S4QAAAAG2gYeSAA
